{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": ["@typescript-eslint", "eslint-plugin-import-helpers"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:sonarjs/recommended",
    "plugin:security/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "env": {
    "jest": true
  },
  "ignorePatterns": ["node_modules/**/*", "*.js"],
  "rules": {
    "no-console": "off",
    "eqeqeq": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "security/detect-object-injection": "off",
    "@typescript-eslint/no-empty-function": "off",
    "import-helpers/order-imports": [
      "error",
      {
        "groups": [
          "module",
          "/^@assets/",
          "/^@common/",
          "/^@components/",
          "/^@config/",
          "/^@consts/",
          "/^@hooks/",
          "/^@mocks/",
          "/^@pages/",
          "/^@store/",
          "/^@typings/",
          "/^@utils/",
          ["parent", "sibling", "index"]
        ],
        "alphabetize": { "order": "asc", "ignoreCase": true }
      }
    ]
  }
}
